  html {
    color-scheme: dark;
    background-color: rgb(73, 73, 73);
  }

  body {
    margin: 0;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 600;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: black;
  }

  .logo {
    max-width: 100px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: -3rem;
      z-index: -1;
      background: radial-gradient(hsl(0 0% 100% / 0.5), transparent 70%);
    }
  }

  .parallax {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
    height: 60vw;
  }

  .parallax>* {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }

  .parallax>img {
    width: 100%;
  }

  #pv-logo {
    --parallax-speed: 5;
    max-width: 2000px;
    margin: 0 auto;
  }

  #capitol {
    --parallax-speed: -80;
  }

  #protestors {
    --parallax-speed: -60;
  }

  .z-999 {
    z-index: 999;
  }

  .flex-start {
    align-self: flex-start;
  }

  .flex-end {
    align-self: flex-end;
  }

  @keyframes parallax {
    to {
      transform:
        translateY(calc(var(--parallax-speed) * 200px));
    }
  }